* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-size: 18px;
}

header {
  padding: 20px 0;
  display: flex;
}
h1,h2,h3,h4,h5,h6,p {
  cursor: default;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;

}


.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 1280px;
  width: 100%;
}

.container--header {
  max-width: 1380px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #5bb7d0;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  transition: .3s ease;
  color: #5bb7d0;
  margin: 0 10px;
} 
.btn:hover {
  background: #5bb7d0;
  color: #fff;
}


.button:hover {
  background: #5bb7d0;
  color: #fff;
}